*{
    margin: 0;
    padding: 0;
    font-size: 62.5%;
    box-sizing: border-box;
    font-family: 'IBM Plex Sans';
}

#logo{
    width: 100vw;
    margin-top: 1.6rem;
    margin-bottom: 1.6rem;

}

.barra{
    width: 100vw;
    height: 4.8rem;
    background-color: #D9D9D9;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2.4rem;
}

hr{
    border: 0.4rem solid #044BD9;
}

h1{
    font-size: 1.8rem;
}

#fundo{
    background-color: white;
}

a{
    text-decoration: none;
    color: black;

}

nav{
    position: fixed;
    top: 0;
    width: 100%;
}

#marcado{
    background-color: #044BD9;
    color: white;
    width: 13rem;
    height: 6rem;
    border-top-right-radius: 0.4rem;
    border-top-left-radius: 0.4rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

#texto1{
    text-align: center;
}

.nullDiv{
    width: 100vw;
    height: 19rem; 
} 
.destaques{
    display: flex;
    justify-content: center;
    margin-top: 3.2rem;
}
 h2{
    font-size: 2.4rem;
 }

 .box{
    height: 14rem;
    width: 56rem;
    border-radius: 0.8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../images/highlight-background.png);
 }

 section{
    display: flex;
    gap: 3.2rem;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;
 }
 section .box p {
    font-size: 3.2rem;
    text-align: center;
    font-weight: bold;
    color: white;
 } 

 .nullDiv2{
    width: 100vw;
    height: 7.3rem;
 }

 .categorias{
    justify-content: center;
    display: flex;
    gap: 3.3rem;
    margin-top: 3.2rem;
 }
 
 .boxCategorias{
    height: 38rem;
    width: 46rem;
    background-color: #EBF0F7;
    border-radius: 2rem;
 }

 section .boxCategorias p {
    font-size: 4rem;
    text-align: center;
    font-weight: bold;
    color: #044BD9;
    max-width: 31.6rem; 

 } 

 .boxTitle{
    width: 46rem;
    height: 9.6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1.6rem;
 }

 section .boxCategorias2 p {
    font-size: 4rem;
    text-align: center;
    font-weight: bold;
    color: #044BD9;
    max-width: 33.4rem; 
 } 

 .boxCategorias2{
    height: 38rem;
    width: 46rem;
    background-color: #EBF0F7;
    border-radius: 2rem;
 }

 section .boxCategorias3 p {
    font-size: 4rem;
    text-align: center;
    font-weight: bold;
    color: #044BD9;
    max-width: 15.3rem; 
 } 

 .boxCategorias3{
    height: 38rem;
    width: 46rem;
    background-color: #EBF0F7;
    border-radius: 2rem;
 }

 .boxCategorias img{
   right: 3.2rem;
 }

 .boxCategorias2 img{
   right: 3.2rem;
 }

 .boxCategorias3 img{
   right: 3.2rem;
 }